@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family:'Poppins',sans-serif;
}
body{
    background-color: whitesmoke;

}
.booking{
    height: 1210px;
    width: 750px;
    background-color: white;
    margin-left: 250px;
    box-sizing: border-box;

}
.img{
    background-image: url('book2.png');
    background-size: 100% 100%;
    height: 250px;
    width: 750px;
}
.head{
    text-align: center;
    background-color: white;
}
.head h2{
    background-color: white;
   text-align: center;
   font-size: 30px;
   font-family: Arial, Helvetica, sans-serif;
}
.head p{
    font-size: 15px;
    margin-top: 10px;
}
.fullname{
    margin-top: 30px;
}
.fullname h3{
    font-weight: 400;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.fullname input{
    margin-top: 20px;
    margin-left: 50px;
    font-size: 18px;
    width: 270px;
    padding: 8px;
    border: 0.5px solid black;
    border-radius:5px;
}
.fullname a{
    margin-left: 50px;
    font-size: 15px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.5;
}
.fullname p{
    margin-left: 50px;
    font-size: 15px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.5;
    margin-left: 310px;
    display: inline;
}
.fullname span{
    margin-left: 40px;
}
.address h3{
    font-weight: 400;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.address input{
    margin-top: 20px;
    margin-left: 50px;
    font-size: 18px;
    width: 650px;
    padding: 8px;
    border: 0.5px solid black;
    border-radius:5px;
}
.combine{
    display: flex;
}
.city h3{
    font-weight: 400;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.city input{
    margin-top: 20px;
    margin-left: 50px;
    font-size: 18px;
    width: 270px;
    padding: 8px;
    border: 0.5px solid black;
    border-radius:5px;
}
.pincode h3{
    font-weight: 400;
    font-size: 18px;
    margin-left: 95px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.pincode input{
    margin-top: 20px;
    margin-left: 95px;
    font-size: 18px;
    width: 270px;
    padding: 8px;
    border: 0.5px solid black;
    border-radius:5px;
}
.combine2{
    display: flex;
}
.mobile h3{
    font-weight: 400;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.mobile input{
    margin-top: 20px;
    margin-left: 50px;
    font-size: 18px;
    width: 270px;
    padding: 8px;
    border: 0.5px solid black;
    border-radius:5px;
}
.email h3{
    font-weight: 400;
    font-size: 18px;
    margin-left: 95px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.email input{
    margin-top: 20px;
    margin-left: 95px;
    font-size: 18px;
    width: 270px;
    padding: 8px;
    border: 0.5px solid black;
    border-radius:5px;
}
.location h3{
    font-weight: 400;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.location input{
    margin-top: 20px;
    margin-left: 50px;
    font-size: 18px;
    width: 650px;
    padding: 8px;
    border: 0.5px solid black;
    border-radius:5px;
}
.date{
    display: flex;
}
.arrival h3{
    font-weight: 400;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.arrival input{
    margin-top: 20px;
    margin-left: 50px;
    font-size: 18px;
    width: 270px;
    padding: 8px;
    border: 0.5px solid black;
    border-radius:5px;
}
.departure h3{
    font-weight: 400;
    font-size: 18px;
    margin-left: 95px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.departure input{
    margin-top: 20px;
    margin-left: 95px;
    font-size: 18px;
    width: 270px;
    padding: 8px;
    border: 0.5px solid black;
    border-radius:5px;
}
button{
    height: 50px;
    width: 180px;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    background-color: rgb(24, 24, 110);
    margin-left: 300px;
    margin-top: 50px;
}
button a{
    font-size: 17px;
    font-weight: bold;

}
button input
{
    height: 50px;
    width: 180px;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    background-color: rgb(24, 24, 110);
    
}